.advantages{
    padding: 70px 0 65px 0;
    background-color: #f6f6f6;
    &__wrapper{
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__subtitle{
        margin-top: 30px;
        color: $advantages-color;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr{
        margin-top: 20px;
        color: $advantages-color;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        a{
            color: #F00;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 300;
            text-decoration-line: underline;
        }
    }
}
